@{
    ViewData["Title"] = "Home Page";
}

<div class="text-white">
    <h1 class="mb-4"><i class="fa-brands fa-d-and-d"></i> Campaign Manager <i class="fa-brands fa-d-and-d"></i></h1>
    <div class="row">
        <div class="col-sm-3 d-flex align-items-stretch text-white">
            @* ----------------------Campaign Manager---------------------- *@
            <div class="card border border-secondary" style="height: 14rem; background-color: #0e2431;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Campaign Manager</h5>
                    <p class="card-text">Create and manage your Dungeons & Dragons campaigns. <i style="color: #ffc107">Click button to login.</i></p>
                    <a type="button" class="btn btn-outline-light mt-auto align-self-start" asp-action="Login" asp-controller="Home">Go to page</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 d-flex align-items-stretch text-white">
            @* ----------------------Reports---------------------- *@
            <div class="card border border-secondary" style="height: 14rem; background-color: #0e2431;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Reports</h5>
                    <p class="card-text">High level reporting and overview for existing campaigns</p>
                    <a type="button" class="btn btn-outline-light mt-auto align-self-start" asp-action="Index" asp-controller="Reports">Go to page</a>
                </div>
            </div>
        </div>
    </div>
</div>
