@{
    ViewData["Title"] = "Home Page";
}

<div class="text-white">
    <h1 class="mb-4"><i class="fa-brands fa-d-and-d"></i> Campaign Manager <i class="fa-brands fa-d-and-d"></i></h1>
    <div class="row">
        <div class="col-sm-3 d-flex align-items-stretch text-white">
            @* ----------------------Campaigns---------------------- *@
            <div class="card border border-secondary" style="height: 14rem; background-color: #0e2431;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Campaigns</h5>
                    <p class="card-text">Create and manage your Dungeons & Dragons campaigns.</p>
                    <a type="button" class="btn btn-outline-light mt-auto align-self-start" asp-action="List" asp-controller="Agency">Go to page</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 d-flex align-items-stretch text-white">
            @* ----------------------Players---------------------- *@
            <div class="card border border-secondary" style="height: 14rem; background-color: #0e2431;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Players</h5>
                    <p class="card-text">Create and manage new and existing players.</p>
                    <a type="button" class="btn btn-outline-light mt-auto align-self-start" asp-action="Index" asp-controller="Report">Go to page</a>
                </div>
            </div>
        </div>
    </div>
</div>

