<form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
  <fieldset class="field_set">
    <legend>Select Characters for {{campaign.name}}:</legend>
        <select multiple size="10" name="selectedCharacters" [ngModel]="editedCharacters" #selectedCharacters="ngModel">
            <option *ngFor="let character of characters" [ngValue]="character">
              {{ character.name }}
            </option>
          </select><br>
        <button>Submit</button>
        <button type="button" (click)="resetForm(userForm)">Reset</button>
  </fieldset>
</form>
