.campaignCard{
  margin-bottom: 10px;
}
/*
div {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 4px;
} */

figcaption {
  margin: 8px 0;
  text-align: center;
}
.card{
  filter: drop-shadow(5px 5px 4px #bc2525);
}
