<div class="card" style="width: 18rem;">
  <div class="card-body campaignContainer" *ngIf="campaigns$ | async as campaigns" id="campaign" >
    <div *ngFor="let campaign of campaigns" class="campaignCard">
      <figure>
        <p class="card-title">{{campaign.name}}</p>
        <!-- <p>{{campaign.characters.name}}</p> -->
        <!-- <p class="card-title">{{campaign.characters.name}}</p>
        <div *ngFor="let character of campaigns.characters">
          <p class="card-title">{{character.name}}</p>
        </div> -->
    </figure>
    <a routerLink = '/campaign-detail/id'>
    <button (click) = 'handleClick(Op.EDIT)'>Edit</button>
    </a>
    <button (click) = 'handleClick(Op.DELETE)'>Delete</button>
    </div>
  </div>
</div>
