<div class="row text-white" >
<ng-container >
  <div class="d-flex flex-column align-items-stretch"  *ngFor="let campaign of campaigns"  style="width: 20rem;" >
    <div class="card-body campaignContainer  d-flex  align-items-stretch  "   id="campaign" >
      <div class="card border border-secondary w-100 d-flex flex-column " style=" background-color: #0e2431;" >
        <figure>
          <a routerLink = '/campaign-detail/{{campaign.id}}' class="text-decoration-none" style="color: #ffc107">
          <h5 style="text-align:center" class="card-title">{{campaign.name}}</h5>
        </a>
        <div class="card-title" style="text-align:center" *ngIf="campaign.characters.length > 0; else elseBlock">Participants</div>
          <ng-template #elseBlock ><p style="text-align:center; color:#bc2525">No Participants</p></ng-template>
          <div  *ngFor="let character of campaign.characters">
            <ul >
              <li >{{character.name}}</li>
            </ul>
          </div>
          <a *ngIf="isLoggedIn()" routerLink = '/campaigns-characters/{{campaign.id}}' class="text-decoration-none" style="color: #ffc107">
          <h6 style="text-align:center" class="card-title">Add Characters</h6>
        </a>
        </figure>
        <div style="text-align:center" >
          <button style="margin:5px;" *ngIf="isLoggedIn()" (click)="handleClick(campaign, Op.EDIT)" class="btn btn-success btn-sm align-self-end "><i class="fa-solid fa-pen-to-square"></i>Edit</button>
          <button style="margin:5px;"*ngIf="isLoggedIn()" (click)="handleClick(campaign, Op.DELETE)" class="btn btn-danger btn-sm align-self-end "><i class="fa-solid fa-trash"></i>Delete</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
</div>

