<div class="row text-white">
    <div class="col-8">
      <legend>Characters</legend>
      <table class="table table-bordered table-light table-striped table-hover"  *ngIf="characters$ | async as characters" id="characterTable">
        <thead class="table-borderless">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr
            *ngFor="let character of characters"
            app-character-table-row
            [character] = "character"
            (clicked)="handleClicked($event)">
          </tr> -->
        </tbody>
      </table>
      <button (click)="goBack()" class="btn btn-primary mt-3">Back</button>
    </div>
  
  
    <!-- <div class="col-4">
      <app-player-form
      [playerModel]="editedPlayer"
      (playerSubmitted)="handlePlayerSubmit($event)"
    ></app-player-form>
    </div> -->
  </div>