<form (ngSubmit)="handleSubmit()" *ngIf="players$ | async as players">
  <fieldset class="field_set">
    <legend class="mb-4">Edit / Add Player</legend>
  <div>
    <label for="name">
        Player Name
    </label>
    <input
      [(ngModel)]="playerModel.name"
      type="text"
      id="playerName"
      name="playerName"
      class="form-control mb-3"
    />
  </div>

  <div>
    <label for="phone">
      Phone
    </label>
    <input
      type="text"
      id="playerPhone"
      name="playerPhone"
      [(ngModel)]="playerModel.phone"
      class="form-control mb-3"
    />
  </div>

  <div>
    <label for="email">
      Email
   </label>
    <input
      type="text"
      id="playerEmail"
      name="playerEmail"
      [(ngModel)]="playerModel.email"
      class="form-control mb-3"
    />
  </div>

  <div>
    <label for="city">
      City
    </label>
    <input
      type="text"
      id="playerCity"
      name="playerCity"
      [(ngModel)]="playerModel.city"
      class="form-control mb-3"
    />
  </div>
  <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </fieldset>
</form>

