<legend class="mt-3 text-white">Weapons</legend>
<table class="table table-striped text-white">
  <thead>
    <tr>
      <th>Weapon Name</th>
      <th>Damage</th>
      <th>Range</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <td>{{weapon.name}}</td>
    <td>{{weapon.damage}}</td>
    <td>{{weapon.range}}</td>
    <td>{{weapon.description}}</td>
    <tr *ngFor="let weapon of weapon.characterWeapons">
        <td>{{ weapon.characterId }}</td>
        <td>{{ weapon.weaponId }}</td>
        <td>{{ weapon.quantity }}</td>
      </tr>
  </tbody>
</table>
<button (click)="goBack()" class="btn btn-primary">Back</button>
