<legend class="text-white">Weapon Detail</legend>
<table class="table table-hover text-white">
  <thead class="table-borderless">
    <tr>
      <th>Weapon Name</th>
      <th>Damage</th>
      <th>Range</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr class="align-middle text-white">
      <td>{{weapon.name}}</td>
      <td>1d{{weapon.damage}}</td>
      <td>{{weapon.range}} ft</td>
      <td>{{weapon.description}}</td>
    </tr>
    
    <tr *ngFor="let weapon of weapon.characterWeapons">
      <td>{{ weapon.characterId }}</td>
      <td>{{ weapon.weaponId }}</td>
      <td>{{ weapon.quantity }}</td>
    </tr>
  </tbody>
</table>
<button (click)="goBack()" class="btn btn-primary">Back</button>
