<!-- <div class="row">
  <div class="col-8">
    <h1 class="d-flex justify-content-center mt-3">
      <p><i class=""></i>Campaigns</p>
    </h1>
    <table class="table table-secondary table-striped table-hover"  *ngIf="campaigns$ | async as campaigns" id="campaignTable">
      <thead class="table-borderless">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Characters</th>
        </tr>
      </thead>
      <tbody class="">
        <tr
          *ngFor="let campaign of campaigns">
          <td>{{campaign.id}}</td>
          <td>{{campaign.name}}</td>
          <td>{{campaign.startDate}}</td>
          <td>{{campaign.endDate}}</td>
          <td>{{campaign.Characters}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4">

    <h1 class="d-flex justify-content-center mt-3 mb-5">Modify / Create New</h1>
    <br>
    <app-component-form

  ></app-component-form>
  </div>
</div> -->
