@{
    ViewBag.Title = "Report List";
}

<div class="text-white">
    <h1 class="mb-4"><i class="fa-brands fa-d-and-d"></i> Reports <i class="fa-brands fa-d-and-d"></i></h1>
    <div class="row">
        <div class="col-sm-3 d-flex align-items-stretch text-white">
            @* ----------------------Longest Campaigns---------------------- *@
            <div class="card border border-secondary" style="height: 14rem; background-color: #0e2431;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Longest Campaigns</h5>
                    <p class="card-text">See the 5 longest running campaigns.</p>
                    <a type="button" class="btn btn-outline-light mt-auto align-self-start" asp-action="LongestCampaigns" asp-controller="Reports">Go to page</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 d-flex align-items-stretch text-white">
            @* ----------------------Largest Health Pools---------------------- *@
            <div class="card border border-secondary" style="height: 14rem; background-color: #0e2431;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Largest Health Pools</h5>
                    <p class="card-text">See which players have the largest health pools</p>
                    <a type="button" class="btn btn-outline-light mt-auto align-self-start" asp-action="LargestHealthPools" asp-controller="Reports">Go to page</a>
                </div>
            </div>
        </div>
    </div>
</div>
