@using Capstone.Core.DTOs

@model List<Capstone.Core.DTOs.LongestCampaigns>

@{
    ViewBag.Title = "Longest Campaigns";
}
<div class="mb-3 text-white">
    <h1>Longest Campaigns</h1>
</div>
<div>
    <table class="table text-white">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date Started</th>
            <th>Date Ended</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var campaign in Model)
        {
            <tr>
                <td>@campaign.Name</td>
                <td>@campaign.DateStarted.ToShortDateString()</td>
                <td>@campaign.DateEnded.ToShortDateString()</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-warning" asp-action="Index" asp-controller="Reports">Return</a>
</div>