<legend class="text-white">Campaign Board </legend>
<div  style="display:grid; grid-template-columns: 1fr 1fr  ;" *ngIf="campaigns$ | async as campaigns">
<app-component-card
[campaigns]="campaigns"
(clicked)="handleClicked($event)">
  </app-component-card>
</div>
<div class="Add" style = "position:absolute; right:515px; top:120px;" >
<legend class="text-white">Edit/Add Campaign</legend>
<app-component-form
*ngIf="isLoggedIn()"
[campaignModel]="editedCampaign"
(campaignSubmitted)="handleCampaignSubmit($event)"
></app-component-form>
</div>
