<div class="row">
  <div class="col-8">
    <legend class="text-white">Weapons</legend>
    <table class="table table-hover" *ngIf="weapons$ | async as weapons" id="weaponTable">
      <thead class="table-borderless">
        <tr class="text-white">
          <th>Name</th>
          <th>Damage</th>
          <th>Range</th>
          <th>Description</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="align-middle text-white"
          *ngFor="let weapon of weapons"
          app-weapon-table-row
          [weapon]="weapon"
          (clicked)="handleClicked($event)"
          >
          <td>{{weapon.id}}</td>
          <td>{{weapon.name}}</td>
          <td>{{weapon.damage}}</td>
          <td>{{weapon.range}}</td>
          <td>{{weapon.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <app-weapon-form
    *ngIf="isLoggedIn()"
    [weaponModel]="editedWeapon"
    (weaponSubmitted)="handleWeaponSubmit($event)"
  ></app-weapon-form>
  </div>
</div>
