<form class = "col-4">
  <fieldset  disabled>
    <legend class="text-white">Campaign Details</legend>
    <div>
      <label class="text-white" for="name">
        Campaign Name
      </label>
      <input
        type="text"
        id="campaignName"
        name="campaignName"
        placeholder="{{campaign.name}}"
        class="form-control mb-3"
      />
    </div>

  <div >
    <label class="text-white" for="date">
        Date Started
    </label>
    <input
      type="text"
      id="dateStarted"
      name="dateStarted"
      placeholder="{{ campaign.dateStarted | date:'shortDate' }}"
      class="form-control mb-3"
    />
  </div>

  <div>
    <label class="text-white" for="date">
      Date Ended
    </label>
    <input
      type="text"
      id="dateEnded"
      name="dateEnded"
      placeholder="{{campaign.dateEnded | date:'shortDate'}}"
      class="form-control mb-3"
    />
  </div>

  <div>Players Characters link needed</div>
</fieldset>
<!-- <button (click)="goBack()" class="btn btn-primary">Back</button> -->
</form>

<app-component-character-table>
</app-component-character-table>
