<form (ngSubmit)="handleSubmit()">
  <div class="input-group mb-3 w-50">
    <span class="input-group-text" id="basic-addon1">Username</span>
    <input [(ngModel)]="user.userName" type="text" class="form-control" name="email">
  </div>

  <div class="input-group mb-3 w-50">
    <span class="input-group-text" id="basic-addon1">Password</span>
    <input [(ngModel)]="user.password" type="password" class="form-control" name="password">
  </div>
  <button type="submit" class="btn btn-primary mt-3">Login</button>
</form>




