<form (ngSubmit)="handleSubmit()">
  <div class="input-group mb-3 w-50">
    <span class="input-group-text" id="basic-addon1">Username</span>
    <input [(ngModel)]="user.userName" type="text" class="form-control" name="email">
  </div>

  <div class="input-group mb-3 w-50">
    <span class="input-group-text" id="basic-addon1">Password</span>
    <input [(ngModel)]="user.password" type="password" class="form-control" name="password">
  </div>

  <p style="color: #ffc107">Select a player to log in as:</p>
  <div *ngIf="players$ | async as players" class="text-white">
    <div *ngFor="let player of players">

      <div class="form-check">
        <input class="form-check-input" type="radio" name="players" id="{{ player.id }}" [value]="player.id" [(ngModel)]="playerId">
        <label class="form-check-label" for="{{ player.name }}">
          {{ player.name }}
        </label>
      </div>

      <!-- <label for="{{player.name}}">
        <input id="{{player.id}}" [value]='player.id' type="radio" name="players" [(ngModel)]="playerId">
        {{player.name}}
      </label> -->
    </div>
  </div>
  <button type="submit" class="btn btn-primary mt-3">Login</button>
</form>




