<form class = "col-4">
  <fieldset  disabled>
    <legend>Player Details</legend>
  <div >
    <label for="name">
        Player Name
    </label>
    <input
      type="text"
      id="playerName"
      name="playerName"
      placeholder="{{player.name}}"
      class="form-control mb-3"
    />
  </div>

  <div>
    <label for="phone">
      Phone
    </label>
    <input
      type="text"
      id="playerPhone"
      name="playerPhone"
      placeholder="{{player.phone}}"
      class="form-control mb-3"
    />
  </div>

  <div>
    <label for="email">
      Email
    </label>
    <input
      type="text"
      id="playerEmail"
      name="playerEmail"
      placeholder="{{player.email}}"
      class="form-control mb-3"
    />
  </div>

  <div>
    <label for="city">
      City
    </label>
    <input
      type="text"
      id="playerCity"
      name="playerCity"
      placeholder="{{player.city}}"
      class="form-control mb-3"
    />
  </div>
  <div>Players Characters link needed</div>
</fieldset>
<button (click)="goBack()" class="btn btn-primary">Back</button>
</form>

