<div class="row">
  <div class="col-8">
    <h1 class="d-flex justify-content-center mt-3">
      <p><i class=""></i>Players</p>
    </h1>
    <table class="table table-success table-striped"  *ngIf="players$ | async as players" id="playerTable">
      <thead class="table-borderless">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="">
        <tr
          *ngFor="let player of players"
          app-player-table-row
          [player] = "player">
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4">

    <h1 class="d-flex justify-content-center mt-3 mb-5">Modify / Create New</h1>
    <br>
    <app-player-form
    [playerModel]="editedPlayer"
    (playerSubmitted)="handlePlayerSubmit($event)"
  ></app-player-form>
  </div>
</div>
<button (click)="goBack()" class="btn btn-primary">Back</button>

