<div class="row">
  <div class="col-8">
    <legend>Players</legend>
    <table class="table table-bordered table-light table-striped table-hover"  *ngIf="players$ | async as players" id="playerTable">
      <thead class="table-borderless">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let player of players"
          app-player-table-row
          [player] = "player"
          (clicked)="handleClicked($event)">
        </tr>
      </tbody>
    </table>
    <button (click)="goBack()" class="btn btn-primary mt-3">Back</button>
  </div>


  <div class="col-4">
    <app-player-form
    *ngIf="isLoggedIn()"
    [playerModel]="editedPlayer"
    (playerSubmitted)="handlePlayerSubmit($event)"
  ></app-player-form>
  </div>
</div>


